<% provide(:title, t("static_pages.contact.name")) %>
  <h1><%= t "static_pages.contact.name" %></h1>
  <p>
    <%= t "static_pages.contact.contact_w" %>
    <%= link_to t("static_pages.contact.contact_page"),
     "https://www.railstutorial.org/contact" %>
  </p>
