    <h1><%= t "static_pages.home.name" %></h1>
    <p>
      <%= t "static_pages.home.this_is" %>
      <%= link_to t("static_pages.home.ror_tutorial"),
       "https://www.railstutorial.org/" %>
      <%= t "static_pages.home.sample_app" %>.
    </p>

